* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
font-family: 'Raleway', sans-serif;
  }

/* .RootLayout{ // allwing for indavuial padidng per page
    padding: 25px ;
} */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}